---
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/sections/About.astro';
import Experience from '../components/sections/Experience.astro';

const title = 'Łukasz Pelikan — Software Engineer';
const description =
  'Software engineer focused on Java backend development, cloud platforms, DevOps and distributed systems.';
---

<BaseLayout title={title} description={description}>
  <Header />

  <main>
    <Hero />

    <About />

    <Experience />

    <section id="projects" class="container-page py-32">
      <p class="text-slate-500">Projects section coming next.</p>
    </section>

    <section id="blog" class="container-page py-32">
      <p class="text-slate-500">Blog section coming next.</p>
    </section>
  </main>
</BaseLayout>